body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;background-color: #212121;color: white;}

table.dataframe, .dataframe th, .dataframe td {
  border: white;
  border-bottom: 1px solid, white;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.df th {
    background-color: #add8e6;
    color: white;
}

tr:nth-child(odd)		{ background-color:#222222; }
tr:nth-child(even)	{ background-color:#555555; }

tr:hover            { background-color: #aaaaaa;}
.btn{
    color:#ffffff;
    background-color: #0000ff;
    margin-left: 3rem;
}
.download_csv{
    margin-top: 2rem;
}
.download_song{
    margin-top: 2rem;
    margin-left: 3rem;
}

.chartjs-wrapper {
    margin-left: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.chartjs-wrapper > div{
    margin-top: 2rem;
    border-style: solid;
    border-color: #aaaaaa;
    border-width: 1px;
    padding:0.5rem;
    margin-right: 3rem;
    justify-content: center;
}
.chartjs-wrapper >div:hover{
    box-shadow: 3px 3px 3px 3px #aaaaaa;
}

.chartjs-wrapper>div>canvas{
    margin-top: 2rem;
}